<%- include("../layouts/header.ejs") %>

<h1>forget password</h1>



<% if (typeof message !== 'undefined') { %>
  <h4 style="color:rgb(0, 0, 0);"><%= message %></h4>
<% } %>

<form action="/forget" method="post">

    <input type="email" name="email"  placeholder="email" required>
    <br><br>
    <input type="submit" value="Reset link" >
</form>











<%- include("../layouts/footer.ejs") %>