<%- include("../layouts/header.ejs") %>

<h1>verify email</h1>



<% if (typeof message !== 'undefined') { %>
  <h4 style="color:rgb(0, 0, 0);"><%= message %></h4>
<% } %>

<form action="" method="post">

    <input type="email" name="email"  placeholder="email" required>
    <br><br>
    <input type="password" name="password" placeholder="password" required>
    <br><br>
    <input type="submit" value="Verify">
</form>




<%- include("../layouts/footer.ejs") %>